!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Charts
    %link{:href => "https://www.amcharts.com/lib/3/plugins/export/export.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    .container.fluid
      .well
        %ul.list.number
          %li Enter / Reset annotation mode
          %li Set annotations or create ones manually
          %li Get / Save annotations
          %li Reset annotation mode
          %li Set cached annotations
        %button.btn.btn-default{:onclick => "enterAnnotations()"} Enter annotation mode
        %button.btn.btn-default{:onclick => "setAnnotations()"} Set preset annotation
        %button.btn.btn-default{:onclick => "getAnnotations()"} Cache annotations
        %button.btn.btn-default{:onclick => "applyAnnotations()"} Set cached annotations
      #chartdiv{:style => "height: 300px;"}
  %script{:src => "http://www.amcharts.com/lib/3/amcharts.js"}
  %script{:src => "http://www.amcharts.com/lib/3/serial.js"}
  %script{:src => "http://www.amcharts.com/lib/3/plugins/export/export.min.js"}
  :javascript
    var chart = AmCharts.makeChart("chartdiv", {
      "type": "serial",
      "theme": "light",
      "dataDateFormat": "YYYY-MM-DD",
      "precision": 2,
      "valueAxes":
      [


        {
          "id": "v2",
          "title": "Market Days",
          "gridAlpha": 0,
          "position": "right",
          "autoGridCount": false
        }

      ],

      "graphs": [{
        "id": "g1",
        "valueAxis": "v2",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#20acd4",
        "type": "smoothedLine",
        "title": "Market Days",
        "useLineColorForBulletBorder": true,
        "valueField": "market1",
        "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]</b>"
      }, {
        "id": "g2",
        "valueAxis": "v2",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#e1ede9",
        "type": "smoothedLine",
        "dashLength": 5,
        "title": "Market Days ALL",
        "useLineColorForBulletBorder": true,
        "valueField": "market2",
        "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]</b>"
      }],
      "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis": false,
        "offset": 30,
        "scrollbarHeight": 50,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount": true,
        "color": "#AAAAAA"
      },
      "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha": 0,
        "valueLineAlpha": 0.2
      },
      "categoryField": "date",
      "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
      },
      "legend": {
        "useGraphSettings": true,
        "position": "top"
      },
      "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
      },
      "export": {
        enabled: true
      },
      "dataProvider": [{
        "date": "2013-01-16",
        "market1": 71,
        "market2": 75,
      }, {
        "date": "2013-01-17",
        "market1": 74,
        "market2": 78,
      }, {
        "date": "2013-01-18",
        "market1": 78,
        "market2": 88,
      }, {
        "date": "2013-01-19",
        "market1": 85,
        "market2": 89,
      }, {
        "date": "2013-01-20",
        "market1": 82,
        "market2": 89,
      }, {
        "date": "2013-01-21",
        "market1": 83,
        "market2": 85,
      }, {
        "date": "2013-01-22",
        "market1": 88,
        "market2": 92,
      }, {
        "date": "2013-01-23",
        "market1": 85,
        "market2": 90,
      }, {
        "date": "2013-01-24",
        "market1": 85,
        "market2": 91,
      }, {
        "date": "2013-01-25",
        "market1": 80,
        "market2": 84,
      }, {
        "date": "2013-01-26",
        "market1": 87,
        "market2": 92,
      }, {
        "date": "2013-01-27",
        "market1": 84,
        "market2": 87,
      }, {
        "date": "2013-01-28",
        "market1": 83,
        "market2": 88,
      }, {
        "date": "2013-01-29",
        "market1": 84,
        "market2": 87,
      }, {
        "date": "2013-01-30",
        "market1": 81,
        "market2": 85,
      }]
    });

    function enterAnnotations() {
      chart.export.capture({
        action: "draw"
      }, function() {
        var drawingMenu = chart.export.config.menu[0].menu[2].menu;
        chart.export.createMenu(drawingMenu);
      })
    }

    function setAnnotations() {

      chart.export.setAnnotations({
        data: [{
          top: 200,
          left: 200,
          text: "Manual inserted annotation",
          type: "text"
        }]
      });
    }

    function getAnnotations() {

      window.AmCharts.cachedAnnotations = chart.export.getAnnotations({}, function(items) {
        alert("Cached " + items.length + " annotations!\nReenter the annotation mode to repply the cached annotations!");
        console.log("Cached items: ", items);
      });
    }

    function applyAnnotations() {
      if (!window.AmCharts.cachedAnnotations || !window.AmCharts.cachedAnnotations.length) {
        alert("No cached annotations available!");
        return;
      }
      chart.export.setAnnotations({
        data: window.AmCharts.cachedAnnotations
      });
    }
