!!!
%html
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/

    /[if IE] <link rel="stylesheet" href="css/ie.css">
    /[if lte IE 9] <script type="text/javascript" src="assets/css/ie.js"></script>
  %body
    .col.l12
      .cintillo
        %img{:src => "assets/img/cintillo.jpg"}/
    .navbar-fixed
      %nav
        .nav-wrapper.white
          %a.brand-logo{:href => "/index"}
            %img{:src => "assets/img/logo.png"}/
          %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.material-icons.grey-text.text-darken-4 menu
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.white-text{:href => "/contacto"} Contacto
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-3.white-text{:href => "/estadisticas"} Estadísticas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.red.darken-4.white-text{:href => "/tarifas"} Tarifas
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-3.white-text{:href => "/quienessomos"} Quienes Somos
          %ul.right.hide-on-med-and-down.botonNav
            %li
              %a.grey.darken-4.white-text{:href => "/index"} Inicio
          %ul#mobile-demo.side-nav
            %li
              %a{:href => "/index"} Inicio
            %li
              %a{:href => "/quienessomos"} Quienes Somos
            %li
              %a{:href => "/tarifas"} Tarifas
            %li
              %a{:href => "/estadisticas"} Estadísticas
            %li
              %a{:href => "/contacto"} Contacto
    .marquee.col.s12
      %p
        - @indicators.each do |indicator|
          %span.indice= "#{indicator.name}:"
          =indicator.value

    #chartdiv{:style => "width: 640px; height: 400px;"}

    %footer.page-footer
      .container
        .row
          .col.s12.m6
            %h5.white-text Bolsa Pública de Valores Bicentenaria
            %p.grey-text.text-lighten-4
              Av. Francisco de Miranda, Edif. Torre Europa, Piso Nivel C, Of. S/N
              %br/
              Urb. El Rosal, Caracas(Chacao), Miranda. Zona Postal: 1060.
              %br/
              %b Horario de atención al público:
              De 8:00 a.m. a 4:30 p.m.
              %br/
              %b Teléfono:
              0212-9558800.
            %br/
            %ul.social
              %li
                %h6 Redes Sociales:
                %br/
              %li
                %a.icon-facebook.img-circle{:href => "https://www.facebook.com/bolsapublicave/", :target => "_blank"}
                %a.icon-twitter.img-circle{:href => "https://twitter.com/Bolsa_Publica", :target => "_blank"}
                %a.icon-instagram.img-circle{:href => "https://www.instagram.com/bolsa_publica/", :target => "_blank"}
          .col.l4.offset-l2.s12
            %h5.white-text Menú
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "/documents/LCFT.pdf", :target => "blank"} Prevención y control
              %li
                %a.grey-text.text-lighten-3{:href => "/atencion"} Atención al Ciudadano
              %li
                %a.grey-text.text-lighten-3{:href => "/marcolegal"} Marco Legal
              %li
                %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve/snv/site/glosario_terminos.php"} Glosario de términos
              %h5.white-text Enlaces de interés
              %ul
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.bcv.org.ve", :target => "blank"} Banco Central de Venezuela
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.sunaval.gob.ve", :target => "blank"} Superintendencia Nacional de Valores
                %li
                  %a.grey-text.text-lighten-3{:href => "http://www.mppef.gob.ve", :target => "blank"} Ministerio del Poder Popular de Economía y Finanzas
      .footer-copyright
        .container
          © 2017 Copyright Bolsa Pública de Valores Bicentenaria / RIF: G-20009677-2
    %script{:src => "assets/js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/js/materialize.min.js", :type => "text/javascript"}

%script{:src => "http://www.amcharts.com/lib/3/amcharts.js", :type => "text/javascript"}
%script{:src => "http://www.amcharts.com/lib/3/serial.js", :type => "text/javascript"}
%script{:src => "http://www.amcharts.com/lib/3/plugins/export/export.min.js"}
:javascript
  var chart;
  var chartData = [];
  var chartCursor;

  AmCharts.ready(function() {


      // SERIAL CHART
      chart = new AmCharts.AmSerialChart();
      chart.pathToImages = "/documents/";
      chart.dataProvider = chartData;
      chart.categoryField = "date";
      chart.dataDateFormat = "DD/MM/YYYY";



      // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
      chart.addListener("dataUpdated", zoomChart);

      // AXES
      // category
      var categoryAxis = chart.categoryAxis;
      categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
      categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
      categoryAxis.dashLength = 1;
      categoryAxis.gridAlpha = 0.15;
      categoryAxis.minorGridEnabled = true;
      categoryAxis.axisColor = "#DADADA";

      // value
      var valueAxis = new AmCharts.ValueAxis();
      valueAxis.axisAlpha = 0.2;
      valueAxis.dashLength = 1;
      chart.addValueAxis(valueAxis);

      // GRAPH
      var graph = new AmCharts.AmGraph();
      graph.title = "Blue Line";
      graph.valueField = "algo";
      graph.bullet = "round";
      graph.bulletBorderColor = "#FFFFFF";
      graph.bulletBorderThickness = 2;
      graph.bulletBorderAlpha = 1;
      graph.lineThickness = 2;
      graph.lineColor = "#b5030d";
      graph.negativeLineColor = "#0352b5";
      graph.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value: [[value]]</span></b>";
      graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
      // console.log(graph);
      chart.addGraph(graph);

      var graph = new AmCharts.AmGraph();
      graph.title = "red line";
      graph.valueField = "visits";
      graph.bullet = "round";
      graph.bulletBorderColor = "#FFFFFF";
      graph.bulletBorderThickness = 2;
      graph.bulletBorderAlpha = 1;
      graph.lineThickness = 2;
      graph.lineColor = "rgb(32, 172, 212)";
      graph.negativeLineColor = "#0352b5";
      graph.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value: [[value]]</span></b>";
      graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
      // console.log(graph);
      chart.addGraph(graph);

      // CURSOR
      chartCursor = new AmCharts.ChartCursor();
      chartCursor.cursorPosition = "mouse";
      chart.addChartCursor(chartCursor);

      // SCROLLBAR
      var chartScrollbar = new AmCharts.ChartScrollbar();
      chartScrollbar.graph = graph;
      chartScrollbar.scrollbarHeight = 40;
      chartScrollbar.color = "#FFFFFF";
      chartScrollbar.autoGridCount = true;
      chart.addChartScrollbar(chartScrollbar);

      // WRITE
      chart.write("chartdiv");


      loadCSV("/documents/prueba-funcional.csv");
  });

  function loadCSV(file) {
      if (window.XMLHttpRequest) {
          // IE7+, Firefox, Chrome, Opera, Safari
          var request = new XMLHttpRequest();
      } else {
          // code for IE6, IE5
          var request = new ActiveXObject('Microsoft.XMLHTTP');
      }
      // load
      request.open('GET', file, false);
      request.send();
      parseCSV(request.responseText);
  }

  function parseCSV(data) {
    // console.log(data);
      //replace UNIX new lines
      data = data.replace(/\r\n/g, "\n");
      //replace MAC new lines
      data = data.replace(/\r/g, "\n");
      //split into rows
      var rows = data.split("\n");
      // loop through all rows
      for (var i = 0; i < rows.length; i++) {
          // this line helps to skip empty rows
          if (rows[i]) {
              // our columns are separated by comma
              var column = rows[i].split(",");
              // column is array now
              // first item is date
              var date = column[0];
              // second item is value of the second column
              var value = column[1];
              var value2 = column[2];
              // create object which contains all these items:
              var dataObject = {
                  date: date,
                  visits: value,
                  algo: value2
              };
              // add object to chartData array
              chartData.push(dataObject);
              console.log(dataObject);
          }
      }
      console.log(chart.validateData());
  }

   // this method is called when chart is first inited as we listen for "dataUpdated" event
  function zoomChart() {
      // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
      chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
  }

   // changes cursor mode from pan to select
  function setPanSelect() {
      if (document.getElementById("rb1").checked) {
          chartCursor.pan = false;
          chartCursor.zoomable = true;

      } else {
          chartCursor.pan = true;
      }
      chart.validateNow();
  }
